<main>
  <app-navbar></app-navbar>
  <section>
    <div class="best-food-container">
            <h1 class="title-best-food">Nuestras ofertas</h1>
            <div class="best-food-sub-container">
                <div class="best-food-individual">
                    <div class="image-container">
                        <img src="../../assets/imagenes/Restaurante/bandejapaisa.png" alt="HotDog" class="hamburger-image">
                    </div>
                    <div class="info-container">
                        <h1 class="title">Bandeja Paisa</h1>
                        <p class="paragraph">
                            Deliciosa bandeja paisa que trae Carne molida,
                            Chicharrón,
                            Frijoles,
                            Arroz blanco,
                            Huevo frito,
                            Arepa,
                            Plátano maduro frito,
                            Hogao,
                            Aguacate.
                        </p>
                        <h2> Valor 20.000$ </h2>
                    </div>
                    
                </div>
    
                <div class="best-food-individual">
                    <div class="image-container">
                        <img src="../../assets/imagenes/Restaurante/Bandeja Paisa 2.jpg" alt="Pizza" class="hamburger-image">
                    </div>
                    <div class="info-container">
                        <h1 class="title">Bandeja Paisa Paisa</h1>
                        <p class="paragraph">
                          Bandeja paisa que trae
                           Carne molida,
                          Chicharrón,
                          Frijoles,
                          Arroz blanco,
                          Huevo frito,
                          Arepa,
                          Plátano maduro frito,
                          Chorizo,
                          limon.
                          Aguacate.
                        </p>
                        <h2> Valor 25.000$ </h2>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-cards">
        <h1 class="title-nuestros-restaurantes">Nuestros restaurantes asociados</h1>
      <div class="subcontainer-cards">
        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>

        <div class="container-individual">
          <img
            class="image-individual"
            src="../../assets/imagenes/Restaurante/Picada de Morcilla.png"
            alt=""
          />
          <div class="container-texts">
            <a class="title-card" href="#">Dios mio que rico uwu</a>
            <p class="description-card">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
