.navbar {
    background: #E7EAF5;
    padding: 1% 0;
}

.nav_container{
    width: 95%;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.logo {
    width: 100%;
    max-width: 90px;
}

.nav-link {
    font-size: 20px;
    transition: box-shadow 0.3s; 
    box-shadow: 0 2px transparent; 
}

.nav-link:hover {
    box-shadow: 0 2px 0 #2b2b2b; 
}