* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 5vh 0;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(244, 69%, 68%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../../assets/imagenes/img/img2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(249, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../../assets/imagenes/img/img2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.contenido-textos h3{
    margin-bottom: 15px;
    font-size: 25px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.contenido-textos p{
    font-weight: 300;
}

@media (max-width: 600px) {
    .titulo {
        font-size: 10vw;
    }

    .contenido-textos h3{
        font-size: 5vw;
    }

    .contenido-textos p{
        font-size: 3vw;
    }
}

@media (max-width: 400px) {
    .titulo {
        font-size: 12vw;
    }

    .contenido-textos h3 {
        font-size: 8vw;
    }

    .contenido-textos p{
        font-size: 5vw;
    }
}


@media (max-width: 300px) {
    .contenido-textos h3{
        font-size: 9vw;
    }

    .contenido-textos h3 span{
        width: 10vw;
        height: 10vw;
        font-size: 7vw;
        padding: 1%;
    }

    .contenido-textos p{
        font-size: 7vw;
    }
}

@media (max-width: 200px) {
    .titulo {
        font-size: 14vw;
    }

    .contenido-textos h3{
        font-size: 15vw;
    }

    .contenido-textos p{
        font-size: 9vw;
    }
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(241, 50%, 47%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*  Our team */

.about-services{
    background: #fff;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.servicio-ind{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}

@media (max-width: 1000px) {
    .servicio-ind{
        width: 40%;
    }
}

@media (max-width: 600px) {
    .servicio-ind h3{
        font-size: 7vw;
    }

    .servicio-ind p{
        font-size: 4vw;
    }

    .servicio-ind{
        width: 60%;
    }
}

@media (max-width: 400px) {
    .servicio-ind h3{
        font-size: 8vw;
    }

    .servicio-ind p{
        font-size: 5vw;
    }

    .servicio-ind{
        width: 70%;
    }
}

@media (max-width: 300px) {
    .servicio-ind h3{
        font-size: 9vw;
    }

    
    .servicio-ind p{
        font-size: 5vw;
    }

    .servicio-ind{
        width: 80%;
    }
}

@media (max-width: 200px) {
    .servicio-ind h3{
        font-size: 14vw;
    }

    .servicio-ind p{
        font-size: 8vw;
    }
}
.servicio-ind img{
    width: 100%;
    max-width: 200px;
}

@media (max-width: 1000px) {
    .servicio-ind img{
        width: 180px;
    }
}

@media (max-width: 800px){
    .servicio-ind img{
        width: 200px;
    }
}

@media (max-width: 600px) {
    .servicio-ind img{
        width: 200px;
    }
}

@media (max-width: 400px) {
    .servicio-ind img{
        width: 170px;
    }
}

@media (max-width: 200px) {
    .servicio-ind img{
        width: 130px;
    }
}

@media (max-width: 100px) {
    .servicio-ind img{
        width: 50px;
    }
}

@media screen and (max-width:900px){
    .servicio-cont{
        flex-direction: column;
    }
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-ind{
        text-align: center;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

}