<app-navbar></app-navbar>
<main>
<div class="contenedor-imagen">
    <img src="../../assets/imagenes/Imagen Plantilla/parque-explora.png" alt="imagen-servicio" width="700" height="568">
</div>
    <div class="contenedor-info-producto">
        <div class="contenedor-titulo">
            <span> PARQUE EXPLORA </span>
        </div>
        <div class="info-contacto">
            <div class="detalles-contacto">
                <p><i class="fa-regular fa-clock"></i>Abierto</p>
            <p><i class="fa-solid fa-phone"></i> +XX XXX XXX XXX</p>
            <p><i class="fa-solid fa-location-dot"></i> Estamos ubicados en la Calle Principal, Ciudad, País</p>
        </div>
        <div class="website-link">
            <p> <i class="fa-solid fa-globe"></i> Visita nuestra página web para más información: <a
                    href="https://www.ejemplo.com">www.ejemplo.com</a></p>
        </div>
    </div>
    <div class="contenedor-descripcion">
        <h2> Descripcion </h2>
        <p>El Parque Explora es un museo interactivo de ciencias ubicado en Medellín, Colombia. Es el hogar del acuario
            de agua dulce más grande de Sudamérica, Explora Aquarium. También tiene más de 300 atracciones interactivas,
            un auditorio 3D, planetario, estudio de televisión y vivarium. Es un lugar muy popular y simbólico de
            transformación social a través de la educación.</p>
    </div>
    <div class="contenedor-redes">
        <span>Compartir</span>
        <div class="contenedor-redes-botones">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    </div>
</main>