<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMN</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <div class="barra-navegacion">
        <!-- Aquí va tu barra de navegación -->
    </div>
    
    
    <div class="izquierda">
            <h2>Discover Medellin Now</h2>
            <p>Conoce y disfruta Medellin sin <br>necesidad de terceros</p>
            <img class="imagen" src="../assets/imagenes/DMN.png" alt="Mi Imagen">
            <button class="boton"><a href=""></a>Comienza</button>
    </div>
    <div class="derecha">
        
    </div>
    
</body>
</html>




