

<form method="post" action="{% url 'activity-upload-image' %}" enctype="multipart/form-data">
    

    <label for="name">Nombre:</label>
    <input type="text" name="name">

    <label for="phone">Telefono:</label>
    <input type="text" name="phone">

    <label for="address">Dirección:</label>
    <input type="text" name="address">

    <label for="website">Sitio web:</label>
    <input type="text" name="website">

    <label for="openhour">Hora de apertura:</label>
    <input type="time" name="openhour">

    <label for="closehour">Hora de cierre:</label>
    <input type="time" name="closehour">

    <label for="price">Precio:</label>
    <input type="text" name="price">

    <label for="sponsor">Patrocinador:</label>
    <input type="text" name="sponsor">

    <label for="image">Imagenes </label>
    <input type="file" name="image" multiple>

    <button type="submit">Registrarme</button>
</form>
