body{
    background-color: #749fbc;
    height: 87.6vh;
    overflow: hidden;
   
}
h1{
    text-align: end;
    margin-right: 180px;
    color: #212f3d;
}
.formulario_actividades{
    margin: 40px;
    margin-left: 700px;
    margin-top: 5px;
    width: 700px;
    height: 480px;
}
.form-group{
    padding: 8px;
    
}
.form-row {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin-right: 10px;
    
}
label{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #212f3d;
}
input, textarea{
    background-color: #ffff;
    border: 1px solid #ffff;
    border-radius: 10px;
    margin-left: 10px;
    width: 310px;
    height: 40px;
}
.boton{
    margin-left: 250px;
    margin-top: 20px;
}
#circle {
    position: relative;
    top: -520px;
    left: 100px;
    background-color: #a5c0d4;
    border-radius: 50%;
    width: 480px;
    height: 480px;
}
#circle2 {
    position: relative;
    top: -985px;
    left: 115px;
    background-color: #cfdde8;
    border-radius: 50%;
    width: 450px;
    height: 450px;
}
.decoracion{
    position: relative;
    top: -1430px;
    left: 120px;

    width: 420px;
    height: 420px;
    margin: 10px;
    border: 10px solid #e9eff5;
    border-radius: 50%;
    
}
.decoracion img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}